*{
    /* border: 1px dotted black; */
    text-align: center;
}

#pracownicy{
    /* position: relative; */
}

#title > * {
    margin: 60px;
    font-style: italic;
}

div[id^="pracownik"] > *{
    position: relative;
    left: 0;
    padding: 20px;
    height: 10vh;
    width: 25vh;
}

